version: '3.8'

services:
  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:4-management
    ports:
      - "5672:5672"
      - "15672:15672"
    restart: unless-stopped

  apigateway:
    container_name: apigateway
    image: badcourt/apigateway
    build:
      context: .
      dockerfile: APIGateway/Dockerfile
    ports:
      - "5000:5000"
    depends_on:
      - auth_service
      - rabbitmq
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    restart: unless-stopped

  auth_service:
    container_name: auth_service
    image: badcourt/authservice
    build:
      context: .
      dockerfile: AuthService/Dockerfile
    ports:
      - "1000:1000"
    volumes:
      - auth_data:/app/Data
    depends_on:
      - rabbitmq
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    restart: unless-stopped

  email_service:
    container_name: email_service
    image: badcourt/emailservice
    build:
      context: .
      dockerfile: EmailService/Dockerfile
    depends_on:
      - rabbitmq
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    restart: unless-stopped

volumes:
  auth_data:
